*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: var(--font);
    background-color: var(--primary-text-color);
}

:root{

    --primary-color: #23A6F0;
    --secondary-color-1: #40BB15;
    --secondary-color-2: #3C403D;

    --primary-text-color: #252B42; 
    --second-text-color: #737373;
    --light-text-color: #FFFFFF;
    --light-gray-1: #FAFAFA;
    --light-gray-2: #ECECEC;

    --disabled-element-color: #8EC2F2;


    --font: "Montserrat"
    
}

h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    color: var(--light-text-color);
}

p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--light-text-color);
    letter-spacing: 0.2px;
}

li a{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: var(--light-text-color);
}

button{
    color: var(--light-text-color);
    border-radius: 5px;
    font-size: var(--font);
    font-weight: 600;
    font-size: 16px; 
}
.primary-button{
    background-color: var(--primary-color);
    padding: 15px 25px;
    color: var(--light-text-color);
    border-radius: 5px;
    font-size: var(--font);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}