@import url("./global.css");

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 20px 15px;
}
header h3{
    color: var(--light-text-color);
    font-size: 23px;
    font-weight: 700;
}

.nav-header ul{
    display: flex;
    gap: 21px;
    list-style: none;
    outline: none;
}

.nav-header a:hover{
    color: var(--second-text-color);
    
}

.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-login{
    background: none;
    color: var(--light-text-color);
    font-weight: 700;
    font-family: var(--font);
    cursor: pointer;
    font-size: 14px;
}

.btn-login:hover{
    color: var(--primary-color);
}

.primary-button{
    transition: 0.5s;
}

header .primary-button:hover{
    background-color: var(--light-text-color);
    color: var(--primary-color);
}

header img{
    margin-left: 15px;
    
}

header .primary-button:hover img {
    filter: invert(29%) sepia(99%) saturate(746%) hue-rotate(180deg) brightness(96%) contrast(95%);
}


main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h1{
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
    color: var(--light-text-color);
    width: 509px;
}
p{
    width: 376px;
}

 .main-buttons button{
    margin-top: 35px ;
    border-radius: 37px;
    padding: 15px 36px;
    gap: 10px;
}

.main-buttons .btn-login {
    background-color: var(--primary-text-color);
    border: 1px solid #FFFFFF;
}



  





