@import url("./global.css");

header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 20px 15px;
}
header h3{
    color: var(--light-text-color);
    font-size: 23px;
    font-weight: 700;
}

.nav-header ul{
    display: flex;
    gap: 21px;
    list-style: none;
    outline: none;
}

.nav-header a:hover{
    color: var(--second-text-color);
    
}

.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-login{
    background: none;
    color: var(--light-text-color);
    font-weight: 700;
    font-family: var(--font);
    cursor: pointer;
    font-size: 14px;
}

header .btn-login:hover{
    color: var(--primary-color);
}

.primary-button{
    transition: 0.5s;
}

header .primary-button:hover{
    background-color: var(--light-text-color);
    color: var(--primary-color);
}

header img{
    margin-left: 15px;
    
}

header .primary-button:hover img {
    filter: invert(29%) sepia(99%) saturate(746%) hue-rotate(180deg) brightness(96%) contrast(95%);
}


main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h1{
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
    color: var(--light-text-color);
    width: 509px;
    text-transform: capitalize ;
}
p{
    width: 376px;
}

 .main-buttons button{
    margin-top: 35px ;
    border-radius: 37px;
    padding: 15px 36px;
    gap: 10px;
    transition: 0.5s;
}

.main-buttons button:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0,0.3);
}

.main-buttons .btn-login {
    background-color: var(--primary-text-color);
    border: 1px solid var(--light-text-color);
}


.better-strategy{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.better-content{
    padding: 45px 180.5px;
    text-align: center;
    margin-bottom: 24px;
    
}
.better-content h2{
    width: 451px;
}
.active{
    color: var(--second-text-color);
    width: 470px;
    align-items: center;
}

.better-infos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.better-itens{
    border: 1px solid var(--light-text-color);
    padding: 35px 20px;
    display: flex;
    gap: 20px;
    align-items: start;
}

.itens-info h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--light-text-color);
    text-transform: capitalize;
}
.itens-info p{
    font-size: 14px;
    width: 213px;
}


.clients-says{
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-says p{
    text-align: center;
}

.clients-card{
    text-align: center;
    padding: 112px 151px;
}

.clients-card article{
    background-color: var(--light-text-color);
    padding: 40px 155.5px;
    border-radius: 5px;
}

.card-content p{
    margin-top: 30px;
    color: var(--second-text-color);
    width: 433px;
}

.group-stars{
    margin: 15px 0;
}

.card-client-info h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.card-client-info p{
    font-weight: 600;
    color: var(--second-text-color);
    margin: 0 auto;
}


.download-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 55.5px;
}

.download-app p{
    width: 470px;
    margin-bottom: 50px;
}

.apps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info-app a{
    text-decoration: none;
}
.info-app .btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-text-color);
    border-radius: 10px;
    gap: 25px;
    padding: 18px 28px  ;
}

.app-button{
    width: 116px;
}

.app-button p{
    width: 116px;
    margin-bottom: 0px;
}
.app-button h3{
    font-size: 16px;
}


.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 160px 212.5px;
}
.pricing p{
    width: 470px;
    margin-bottom: 96px;
}

.pricing-container{
    display: flex;
    justify-content: center ;
    align-items: start;
    gap: 30px;
    
}

.pricing-container article{
    background-color: var(--light-text-color);
    padding: 50px 49px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    gap: 30px;
}

.pricing-container article h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}

.pricing-container article p{
    color: var(--second-text-color);
    width: 217px;
    margin-bottom: 0px;
    font-weight: 600;
}
.pricing-cards-info{
    text-align: start;
}

.pricing-cards-payment{
    width: 164px;
}



.price{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
    color: var(--primary-color);
    font-size: 40px;
    gap: 10px;
}
.price-infos{
    text-align: start;
}
.price-infos h5{
    font-size: 16px;
}
.price-infos h6{
    color: var(--disabled-element-color);
    font-size: 15px;
    font-weight: 500;
}
.pricing-cards-payment button{
    padding: 15px 40px ;
    font-size: 14px;
}

.world{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 196px;
    gap: 30px;
}
.world-content{
    text-align: start;
    padding: 50px 147px;
    padding-left: 0px;
    
}
.world-content h2{
    width: 476px;
    margin-bottom: 15px;
}
.world-content p{
    width: 455px;
}
















  





